.container {
  @apply rounded-lg bg-gray-200 p-4;
}

.content {
  @apply grid grid-cols-1 gap-6 p-2 md:grid-cols-4;
}

.fieldsStyles {
  @apply rounded-lg bg-white p-2;
}

.innerContent {
  @apply flex flex-row items-center gap-2;
}

.buttonShow {
  @apply rounded-lg bg-ownPurple-500 p-2 text-white;
}
