.container {
  @apply rounded-lg bg-gray-200 p-4 gap-4;
}

.bigContent {
  @apply flex flex-col gap-4 mt-2;
}

.firstContent {
  @apply flex flex-row items-center gap-2;
}

.secondContent {
  @apply rounded-lg bg-white p-2;
}
